# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
test*
.vscode*
.idea*
venv*
go*
peepdf*
dump*

README.md
README.md.bu
NOTES.md
LICENSE
VERSION
circle.yml
CHANGELOG.md
Makefile
run.sh
results.json
pdf.py
*.log
Dockerfile.ubuntu

peepdf*