### pdf
{% if pdfid is not none -%}
#### PDFiD
 - **PDF Header:** `{{ pdfid['header'] }}`
 - **Total Entropy:** `{{ pdfid['totalEntropy'] }}`
 - **Entropy In Streams:** `{{ pdfid['streamEntropy'] }}`
 - **Entropy Out Streams:** `{{ pdfid['nonStreamEntropy'] }}`
 - **Count %% EOF:** `{{ pdfid['countEof'] }}`
 - **Data After EOF:** `{{ pdfid['countChatAfterLastEof'] }}`

| Keyword     | Count     |
|-------------|-----------|
{% for keyword in pdfid['keywords'].get('keyword') -%}
| {{ keyword.get('name') }}      | {{ keyword.get('count') }}        |
{% endfor -%}
{% if pdfid['heuristics']['embeddedfile'].get('score') > 0 %}
##### Embedded File
> **Score:** `{{ pdfid['heuristics']['embeddedfile'].get('score') }}`

**Reason:**
 - {{ pdfid['heuristics']['embeddedfile'].get('reason') }}
{%- endif %}
{% if pdfid['heuristics']['nameobfuscation'].get('score') > 0 -%}
##### Name Obfuscation
> **Score:** `{{ pdfid['heuristics']['nameobfuscation'].get('score') }}`
**Reason:**
 - {{ pdfid['heuristics']['nameobfuscation'].get('reason') }}
{%- endif %}
{% if pdfid['heuristics']['triage'].get('score') > 0 -%}
##### Triage
> **Score:** `{{ pdfid['heuristics']['triage'].get('score') }}`

**Reasons:**
{% for reason in pdfid['heuristics']['triage'].get('reasons') -%}
 - {{ reason }}
{% endfor -%}
{%- endif %}
{% if pdfid['heuristics']['suspicious'].get('score') > 0 -%}
##### Suspicious Properties
> **Score:** `{{ pdfid['heuristics']['suspicious'].get('score') }}`

**Reasons:**
{% for reason in pdfid['heuristics']['suspicious'].get('reasons') -%}
 - {{ reason }}
{% endfor -%}
{%- endif %}
{%- endif %}
{% if streams is not none -%}
#### pdf-parser

##### Stats
{% for stat in streams.get('stats') -%}
 - `{{ stat }}`
{% endfor -%}

{% if streams.get('tags') %}
##### Tags
{% for key, values in streams.get('tags').items() -%}
**{{ key }}:**
{% for v in values -%}
 - `{{ v }}`
{% endfor -%}
{% endfor -%}
{%- endif %}
{% if streams.get('embedded') -%}
##### Embedded Files
| Object      | Sha256   |
|-------------|----------|
{% for embedded in streams.get('embedded') -%}
| {{ embedded.get('object') }} | {{ embedded.get('sha256') }} |
{% endfor -%}
{%- endif %}
{% if streams.get('objstm') -%}
##### Object Streams
| Object      | Sha256   |
|-------------|----------|
{% for objstm in streams.get('objstm') -%}
| {{ objstm.get('object') }} | {{ objstm.get('sha256') }} |
{% endfor -%}
{%- endif %}
{% if streams.get('carved') -%}
{% if streams['carved'].get('files') -%}
##### Carved Files
| Object     | Content  | Sha256 |
|------------|----------|--------|
{% for cfile in streams['carved'].get('files') -%}
| {{ cfile.get('object') }} | {{ cfile.get('keyword') }} | {{ cfile.get('sha256') }} |
{% endfor -%}
{%- endif %}
{% if streams['carved'].get('contents') -%}
##### Carved Content
{% for content in streams['carved'].get('contents') -%}
**{{ content.get('key') }}:**
```
{{ content.get('content') }}
```
{% endfor -%}
{%- endif %}
{%- endif %}
{%- endif %}